:root {
  --dark-red: #992924;
  --dark-gray:#322E2F;
  --water-green:#5FAAC0;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
ol,
ul{
  list-style: none;
}
